<?xml version="1.0" encoding="UTF-8" ?>
<!--<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">-->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/luminary_project?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.sach.web.luminary.model.User"/>
        <mapping class="com.sach.web.luminary.model.Category"/>
        <mapping class="com.sach.web.luminary.model.Product"/>
    </session-factory>
</hibernate-configuration>